In [2]:
import pandas as pd
import getpass
from neo4j import GraphDatabase

In [24]:
# password=getpass.getpass('\nPlease enter the Neo4j database password to continue\n')
driver=GraphDatabase.driver(uri="bolt://44.204.154.78:7687", auth=('neo4j', 'NikeshIsCool'))
session=driver.session()

In [25]:
query = '''
MATCH (c:Concept)
RETURN c.cui
LIMIT 5'''

data = session.run(query)
test_data = pd.DataFrame([dict(record) for record in data])

test_data

      c.cui
0  C0001339
1  C0002018
2  C0002447
3  C0002875
4  C0002879

In [4]:
driver=GraphDatabase.driver(uri="bolt://localhost:7687", auth=('neo4j', 'NikeshIsCool'))
session=driver.session()

In [5]:
query = '''
MATCH (c:Concept)
RETURN c.cui
LIMIT 5'''

data = session.run(query)
test_data = pd.DataFrame([dict(record) for record in data])

test_data

      c.cui
0  C0001339
1  C0002018
2  C0002447
3  C0002875
4  C0002879

In [11]:
CUI_list = ['C0080274', 'C1855311', 'C4025899']

def findingsDefinitions(CUI_list):
    query='''
    MATCH (n:HPOentity)
    WHERE n.umls_id IN {CUI_list}
    RETURN n.umls_id AS CUI, n.definition AS Definition
    '''.format(CUI_list=CUI_list)
    data = session.run(query)
    findingsDefinitions = pd.DataFrame([dict(record) for record in data])
    return findingsDefinitions

findingsDefinitions(CUI_list)

        CUI                                         Definition
0  C0080274  Inability to completely empty the urinary blad...
1  C1855311             Dilatation of the bladder postnatally.
2  C4025899     An abnormality of the male internal genitalia.